@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Bai Jamjuree', sans-serif;
  background-image: url('../images/bg-header-mobile.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

main {
  min-height: 100vh;
  text-align: center;
}
ul {
  list-style-type: none;
  color: var(--Grayish-Blue);
}
h3 {
  color: var(--Dark-Grayish-Blue);
  font-size: 1.5rem;
  opacity: 0.8;
}
p {
  color: var(--Grayish-Blue);
  font-size: 0.81rem;
  line-height: 1.4;
  margin: 10px 0 25px 0;
  opacity: 0.8;
}
.logo {
  width: 5rem;
  margin-bottom: 20px;
}
.btn-ios,
.btn-mac {
  width: 100%;
  border-radius: 30px;
  padding: 10px;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
.btn-ios {
  background: var(--Strong-Cyan);
}
.btn-mac {
  background: var(--Light-Blue);
}
.container {
  width: 100%;
  margin: 80px auto 0;
  padding: 0 50px;
  .top,
  .feature,
  .clipboard,
  .workflow,
  .sponsores,
  .last {
    margin-bottom: 90px;
  }
  .computer-img,
  .devices-img {
    width: 100%;
  }
  .computer-img {
    margin: 25px 0;
  }
  .feature {
    .search,
    .sync,
    .history {
      margin: 30px 0;
    }
  }
  .workflow {
    .blacklist,
    .snippets,
    .preview {
      img {
        margin: 30px 0;
      }
    }
  }
  .sponsores {
    .google,
    .ibm,
    .microsoft,
    .hp,
    .vector {
      width: 9rem;
      margin: 30px;
    }
  }
}
footer {
  background: rgba(76, 84, 93, 0.05);
  width: 100%;
  padding: 30px;
  position: relative;
  z-index: -1;
  ul li {
    margin: 17px 0;
    font-size: 0.9rem;
  }
  a {
    img {
      width: 1.3rem;
      margin: 5px 15px 0;
    }
  }
}

@media screen and(min-width:720px) {
  h3,
  p {
    opacity: 1;
  }
  .flex {
    display: flex;
    justify-content: center;
    .btn-ios,
    .btn-mac {
      padding: 15px;
      margin: 0 10px;
    }
  }
  .container {
    width: 100%;
    .feature {
      margin-bottom: 60px;
      width: 100%;
      .feature__flex {
        display: flex;
        justify-content: space-between;
        img {
          width: 500px;
          margin: 30px 0 0 0;
          position: relative;
          left: -70px;
        }
      }
      .feature-info {
        text-align: left;
        position: relative;
        top: 30px;
        h3 {
          font-size: 1.2rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
    .clipboard {
      header {
        width: 30rem;
        margin: auto;
      }
      img {
        width: 400px;
        margin: 50px 0 0px 0;
      }
    }
    .workflow {
      .flex {
        display: flex;
        justify-content: space-between;
      }
    }
    .sponsores {
      .google,
      .ibm,
      .hp,
      .vector,
      .microsoft {
        width: 5rem;
        margin: 0 30px;
      }
    }
    .last {
      header {
        width: 30rem;
        margin: auto;
      }
    }
  }
  footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo {
      width: 30px;
      height: 30px;
      position: relative;
      top: 30px;
      left: 30px;
    }
    .grid {
      display: grid;
      grid-template-areas: 'faqs privacy install' 'contact kit .';
      grid-gap: 0 30px;
      text-align: left;
      .Faqs {
        grid-area: faqs;
      }
      .contact {
        grid-area: contact;
      }
      .privacy {
        grid-area: privacy;
      }
      .kit {
        grid-area: kit;
      }
      .install {
        grid-area: install;
      }
    }
    a {
      img {
        width: 1.2rem;
        margin: 0 5px;
      }
    }
    .social-icon {
      position: relative;
      top: 50px;
      right: 30px;
    }
  }
}

@media screen and(min-width:887px) {
  .container {
    width: 100%;
  }
}

@media screen and(min-width:975px) {
  .container {
    width: 100%;
    .feature {
      img {
        width: auto;
      }
      .feature-info {
        position: relative;
        top: 30px;
        h3 {
          font-size: 1.3rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
    .clipboard {
      img {
        width: 500px;
      }
    }
  }
}

@media screen and(min-width:1024px) {
  .container {
    .btn-ios,
    .btn-mac {
      width: 20rem;
    }
    .feature {
      header {
        width: 50rem;
        margin: auto;
      }
      .feature__flex {
        .computer-img {
          width: auto;
        }
      }
    }
  }
}
